header {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px; 
}

.btn__home {
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}


.curso {
    background: white;
    padding: 20px;
    border: 2px solid black;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categorias div {
    background: #ddd;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.descricao {
    font-size: 14px;
}

.carga {
    font-weight: bold;
}


.btn {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    background: rgb(255, 255, 255); 
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 30px;
}


CSS


header {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px; 
}

.btn__home {
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}


.curso {
    background: white;
    padding: 20px;
    border: 2px solid black;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categorias div {
    background: #ddd;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.descricao {
    font-size: 14px;
}

.carga {
    font-weight: bold;
}


.btn {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    background: rgb(255, 0, 0);
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 30px;
}