*{
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 15px;
}

footer{
    background-color: #333333;
    height: 250px;
    width: 1350px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 1350px;
    padding: 10px;
    margin: 10px;
}

.logo-menu{
    height: 30px;
    width: 100px;
}

li{
list-style-type: none;
}

li a{
font-weight: bold;
text-decoration: none;
color: #000000;
font-style: italic;  
}

.linha{
    display: flex;
    width: 1350px;
    justify-content: center;
}

.hr-menu{
    width: 1000px;
}

.section-center{
    display: flex;
    justify-content: center;
}

.curso{
height: 280px;
width: 275px;
border: 1px solid black;
display: flex;
align-items: center;
flex-direction: column;
padding: 25px;
margin: 25px;
border-radius: 05px;
}

.topicos-curso{
    gap: 10px;
}

.btn-topicos{
border: 1px solid black;
border-radius: 15px;
font-weight: bold;
font-size: 10px;
padding: 05px;
}

.informacoes-curso{
display: flex;
flex-direction: column;
margin: 35px;
gap: 10px;
width: 275px;
height: 280px;
}

.titulo-curso{
font-size: large;
font-weight: bold;
}

.carga-horaria-curso{
display: flex;
gap: 05px;
}

.horario-curso{
    font-weight: bold;
}

.bi{
color: #000000;
font-size: 13px;
display: flex;
align-items: center;
}

.botoes-finais-curso{
display: flex;
flex-direction: column;
gap: 15px;
}

.saiba-mais{
background-color: aliceblue;
border: 1px solid black;
border-radius: 15px;
color: #ff0000;
border-color: #ff0000;
padding: 5px;
width: 200px;
font-weight: bold;
}

.cancelar{
background-color: #ff0000;
border: 1px solid black;
border-radius: 15px;
color: white;
border-color: #ff0000;
padding: 5px;
width: 200px;
font-weight: bold;
}

.informacoes-footer{
    height: 175px;
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.sobre-nos{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 150px;
    align-items: start;
}

.links-uteis{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes-sociais{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homie{
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

li a{
    color: white;
    font-style: normal;
    font-weight: normal;
}

li{
    margin: 10px;
}

.hr{
    width: 1000px;
    color: #333333;
}

.textinho-final{
    color: white;
    width: 1250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}